@{
    ViewData["Title"] = "Home Page";
}

<div id="container">
    <div id="header">
        <h1>Task Tracker</h1>
        <h4>v2.0</h4>
    </div>
    <div id="content">
        <div class="column leftcolumn">
            <h3>Create a Task</h3>
                <form name="mainform" id="mainform">
                    <label for="taskName">Task Name</label>
                    <input name="taskName" id="taskName" class="textfield form-control"/>
                    <label for="taskDate">Task Date</label>
                    <input name="taskDate" id="taskDate" class="textfield form-control"/>
                    <label for="taskDate">Assigned To</label>
                    <input name="assignedTo" id="assignedTo" class="textfield form-control"/>
                </form>
            <button class="button" id="submitbutton">Submit</button>
        </div>
        <div class="column rightcolumn">
            <h3>Existing Tasks</h3>
            <table id="tasklisttable" class="table">
                <tr>
                    <th>Task Name</th>
                    <th>Date Assigned</th>
                    <th>Assigned To</th>
                </tr>
            </table>
        </div>
    </div>
</div>