body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Display block for input fields.*/
input {
    display: block;
}

/* Add margin to text fields.*/
label {
    margin-top: 5px;
}

.button {
    margin-top: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

// Create two columns. 
#content {
    margin: 0px 0px;
    display: block;
    width: 100%;
    background-color: #DDDDDD
}

.column {
    width: 45%;
    padding: 0px 0px;
    margin-right: auto;
    background-color: #FFFFFF;
    display: block;
}

.rightcolumn {
    float: right;
}

.leftcolumn {
    float: left;
}

#content:after {
    content: '';
    display: block;
    clear: both;
}

td {
    padding: 5px 10px;
}
